<div layout-gt-sm="row" layout="column " layout-align="">

	<div  md-whiteframe="9">

		<md-toolbar layout="row" class="md-hue-3">
			<div class="md-toolbar-tools" layout-align="space-between center">
				<div>
					<span>Who to follow ?</span>
				</div>
			
				<div>
					<md-button class="md-icon-button" aria-label="More">
						<md-icon md-svg-icon="reload.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="More">
						<md-icon class="expand" md-svg-icon="expand.svg"></md-icon>
					</md-button>
				</div>

			</div>
		</md-toolbar>

		<md-content>
			<md-list flex>
				<md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
					<img ng-src="afkar.png" class="md-avatar" />
					<div class="md-list-item-text md-whiteframe=9" layout="column"  >
						
						<h4>{{ item.what }}</h4>
						<p>{{ item.notes }}</p>
					</div>
				</md-list-item>

		</md-content>
	</div>



</div>