<twitter-post></twitter-post>
<div layout="row">
    <afkar-profile-card flex="25"></afkar-profile-card>
    <afkar-view-post flex="50"></afkar-view-post>
    <twiter-lateral flex="25"></twiter-lateral>
    
</div>
