    <md-card class="height-50">
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Profile" flex="100">
        <md-card-title-media class="figure" layout-margin>
            <img ng-src="{{imagePath}}" class="md-card-image img-profile" alt="Profile" flex="100">
        </md-card-title-media>
        <md-card-title layout-align="center center">
            <md-card-title-text layout="row" layout-align="center center" layout-margin>
                <span class="md-headline">{{profileName}}</span>
                <span class="profileUsername">{{profileUsername}}</span>
            </md-card-title-text>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="icons/pencil-edit-button.svg"></md-icon>
            </md-button>
        </md-card-title>
        <md-divider ></md-divider>
        <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions layout-align="center center">
                <div layout="column" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="icons/chat.svg"></md-icon>
                    </md-button>
                    <span>578</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="icons/call_made.svg"></md-icon>
                    </md-button>
                    <span>499</span>
                </div>
                <div layout="column" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="More">
                        <md-icon md-svg-icon="icons/call_received.svg"></md-icon>
                    </md-button>
                    <span>79</span>
                </div>
            </md-card-icon-actions>
        </md-card-actions>
    </md-card>
