afkar-profile-card {

.figure {
    position: absolute;
    }

.img-profile {
    background-color: red;
    border-radius: 50%;
    width: 80px;
    position: relative;
    top: 180px;
    left: 0;
    }
.profileUsername{
    color: grey;
    }
    }
