<md-toolbar class="">
	<div class="md-toolbar-tools">
		<div class="left">
			<md-button class="md-icon-button" aria-label="Settings">
				<md-icon md-svg-icon="twitter-brands.svg"></md-icon>
			</md-button>
		</div>
		
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-click="goto('page1')" name="page1">
				Page One
			</md-nav-item>
			<md-nav-item md-nav-click="goto('page2')" name="page2" ng-disabled="secondTabDisabled">
				Page Two
			</md-nav-item>
			<md-nav-item md-nav-click="goto('page3')" name="page3">
				Page Three
			</md-nav-item>
		</md-nav-bar>
		
		<div class="right">
			<md-button class="md-icon-button" aria-label="Favorite">
				<md-icon md-svg-icon="search-solid.svg" class="favorite-icon"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="More">
				<md-icon md-svg-icon="ellipsis-v-solid.svg"></md-icon>
			</md-button>
		</div>
	</div>
</md-toolbar>