twitter-nav {
	md-toolbar{
		&:not(.md-menu-toolbar){
			background: rgb(85, 164, 255);
		}
		.md-button.md-accent {
			color: white;
		}
		.md-button._md-nav-button.md-unselected {
			color: white;
		}
		.md-nav-bar md-nav-ink-bar{
			background: white
		}
		.md-toolbar-tools{
			justify-content: center;
		}
		.left{
			position: absolute;
			left: 0;
		}
		.right{
			position: absolute;
			right: 0;
		}
		&:not(.md-menu-toolbar) md-icon {
			color: white;
		}
	}

}