afkar-view-post {
  .card-media {
    background-color: #999999;
  }

  .md-padding {
    .cursor-pointer {
      cursor: pointer;
    }
    //.infity-scroll {
    //  height: 50px;
    //  overflow-y: scroll;
    //}
  }
}
