<div layout="column" class="md-padding">
    <div flex-xs="" flex-gt-xs="50" layout="column" class="infity-scroll" layout-align="center center">
        <md-card  md-theme-watch="" ng-repeat="item in ctrl.cards">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{item.title}}</span>
                    <span class="md-subhead">
                        {{item.description}}
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" layout-wrap>
                <md-button href="#"
                           title="Shared"
                           target="_blank"
                           ng-disabled="true"
                           aria-label="Shared"
                           class="md-icon-button launch cursor-pointer" >
                    <md-icon md-svg-icon="share.svg"></md-icon>
                </md-button>
                <md-button href="#"
                           title="Like"
                           target="_blank"
                           ng-disabled="true"
                           aria-label="Like"
                           class="md-icon-button launch cursor-pointer" >
                    <md-icon md-svg-icon="like.svg"></md-icon>
                </md-button>
                <md-button href="#"
                           title="Delete"
                           target="_blank"
                           ng-disabled="true"
                           aria-label="Delete"
                           class="md-icon-button launch cursor-pointer" >
                    <md-icon md-svg-icon="delete.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
