<md-card layout="row" flex="50" layout-align="center center">
		<img ng-src="{{imagePath}}" class="md-card-image img-profile" alt="Profile" flex="10">
	<md-input-container class="md-block" flex="70">
		<label>¿Qué estás pensando?</label>
		<textarea md-maxlength="30" required md-no-asterisk name="description" ng-model="project.description">
	  </md-input-container>
	  <md-button class="md-icon-button" aria-label="More" flex="10">
			<md-icon md-svg-icon="paper-plane-regular.svg"></md-icon>
		</md-button>
</md-card>